<app-admin [namePage]='namePage' [nameComponent]='nameComponent'>
  <div compo class="card">
    <div class="card-header">
      <h4 class="card-title">{{namePage | uppercase}}</h4>
    </div>
    <div class="card-body">
      <form  #createAdminForm="ngForm" (ngSubmit)="addAdmin(createAdminForm.value)"
         autocomplete="off" novalidate>
        <div class="form-group" [ngClass]="{'error':!createAdminForm.controls.userName?.valid && !createAdminForm.controls.userName?.untouched} ">
          <label>User Name</label>
          <input (ngModel)="userName" name="userName" type="text"
           class="form-control" pattern='[a-zA-Z].*' required >
          <em *ngIf="!createAdminForm.controls.userName?.valid && !createAdminForm.controls.userName?.untouched
          && createAdminForm.controls.userName?.errors?.required">
            Required
          </em>
          <em *ngIf="!createAdminForm.controls.userName?.valid && !createAdminForm.controls.userName?.untouched
               && createAdminForm.controls.userName?.errors?.pattern">
            Must start with a letter
          </em>
        </div>
        <div class="form-group" [ngClass]="{'error':createAdminForm.controls.password?.invalid &&
        createAdminForm.controls.password?.touched}">
          <label>Password</label>
          <input name="password" (input)="confirmPass.control.updateValueAndValidity()" [(ngModel)]="password"
            type="password" class="form-control" required >
          <em *ngIf="createAdminForm.controls.password?.errors?.required &&
          createAdminForm.controls.password?.touched">
            required
         </em>
         <em *ngIf="!createAdminForm.controls.password?.errors?.required
         && createAdminForm.controls.password?.touched && createAdminForm.controls.password.errors?.errConfirmPass" >
           {{createAdminForm.controls.password.errors?.errConfirmPass}}
          </em>
        </div>
        <div class="form-group"  [ngClass]="{'error':confirmPass?.invalid &&
        confirmPass?.touched}">
        <label>Confirm Password</label>
        <input name="confirmPass" confirmPass="password" required (ngModel)="confirmPass"
         type="password" class="form-control" #confirmPass ="ngModel">
        <em *ngIf="confirmPass.errors?.required &&
        confirmPass?.touched" >
     required
  </em>
   <em *ngIf="!confirmPass.errors?.required
              && confirmPass?.touched && confirmPass.errors?.errConfirmPass" >
              {{confirmPass.errors?.errConfirmPass}}
  </em>
      </div>
          <span >
            <div class="text-right mt-5">
              <button type="submit"  [disabled]="createAdminForm.invalid" class="btn btn-primary">Submit</button>

            </div>
          </span>
      </form>
    </div>
  </div>
</app-admin>
