
<app-admin [namePage]="namePage" [nameComponent]="nameComponent">
 <div ngProjectAs="button" class="col-sm-12 col">
    <button (click)="openModalAdd()" class="float-right mt-2 mr-3 btn btn-dark">Add</button>
  </div>
  <div compo>
    <ngx-datatable
    #mydatatable
    [ngClass]="tablestyles"
    [columnMode]="ColumnMode.force"
    [limit]="5"
    [footerHeight]="50"
    [headerHeight]="50"
    rowHeight="auto"
     [rows]="rows">
     <ngx-datatable-column name="specialityId">
      <ng-template ngx-datatable-cell-template let-value="value">
        {{ value }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="speciallityName">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <span
          title="Double click to edit"
          (dblclick)="editing[rowIndex + '-speciallityName'] = true"
          *ngIf="!editing[rowIndex + '-speciallityName']"
        >
          <h4 class="table-avatar">
            <a class="avatar mr-3">
              <img [src]="rows[rowIndex].avatar" alt="speciality">
            </a>
           {{ value }}
          </h4>
        </span>
        <input
          autofocus
          (blur)="updateValue($event, 'speciallityName', rowIndex)"
          *ngIf="editing[rowIndex + '-speciallityName']"
          type="text"
          [value]="value"
        />
      </ng-template>
    </ngx-datatable-column>

     <ngx-datatable-column>
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
          <a class="btn btn-sm bg-success-light mr-2" data-toggle="modal"
         (click)="editModalSpeciality(rows[rowIndex].specialityId)">
												<i class="fe fe-pencil"></i> Edit
					</a>
					<a  data-toggle="modal" (click)="setIdDeleteAndOpenDelModal(rows[rowIndex].specialityId)" class="btn btn-sm bg-danger-light">
								<i class="fe fe-trash"></i> Delete
					</a>
      </ng-template>
    </ngx-datatable-column>
    </ngx-datatable>
    <app-add-speciality (successAdd)="eventFromModal($event)" #modalAdd></app-add-speciality>
     <app-update-specialities [test]=test #modalEdit (successEdit)="eventFromEdit($event)"></app-update-specialities>
    <app-modalconfirm-doctor #modalDelete (save)="deleteModalSpeciality($event)"></app-modalconfirm-doctor>
    </div>
</app-admin>
